In [27]:
import pandas as pd 
import numpy as np
pd.set_option('max_colwidth', 400)

# Extract the Airlines_Delay_Cause.csv Data

In [28]:
# Read the data into a pandas DataFrame
airlines_delay_cause_df = pd.read_csv('Airline_Delay_Cause.csv')
airlines_delay_cause_df.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2023,4,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",85.0,7.0,3.00,0.00,...,0.0,0.92,0.0,2.0,428.0,250.0,0.0,87.0,0.0,91.0
1,2023,4,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",46.0,5.0,3.63,0.61,...,0.0,0.00,0.0,1.0,272.0,153.0,67.0,52.0,0.0,0.0
2,2023,4,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",61.0,5.0,0.68,0.07,...,0.0,0.93,0.0,1.0,204.0,36.0,2.0,141.0,0.0,25.0
3,2023,4,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",211.0,29.0,9.86,1.00,...,0.0,13.93,1.0,0.0,1346.0,384.0,39.0,115.0,0.0,808.0
4,2023,4,9E,Endeavor Air Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta International",1390.0,140.0,41.20,5.11,...,0.0,64.59,0.0,2.0,12486.0,4655.0,403.0,1190.0,0.0,6238.0

In [29]:
# Get a brief summary of the airline_delay_cause DataFrame
airlines_delay_cause_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19708 entries, 0 to 19707
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 19708 non-null  int64
 1   month                19708 non-null  int64
 2   carrier              19708 non-null  object
 3   carrier_name         19708 non-null  object
 4   airport              19708 non-null  object
 5   airport_name         19708 non-null  object
 6   arr_flights          19699 non-null  float64
 7   arr_del15            19697 non-null  float64
 8   carrier_ct           19699 non-null  float64
 9   weather_ct           19699 non-null  float64
 10  nas_ct               19699 non-null  float64
 11  security_ct          19699 non-null  float64
 12  late_aircraft_ct     19699 non-null  float64
 13  arr_cancelled        19699 non-null  float64
 14  arr_diverted         19699 non-null  float64
 15  arr_delay            19699 non-null  float64
 16  carrier_delay        19699 non-null  float64
 17  weather_delay        19699 non-null  float64
 18  nas_delay            19699 non-null  float64
 19  security_delay       19699 non-null  float64
 20  late_aircraft_delay  19699 non-null  float64
dtypes: float64(15), int64(2), object(4)
memory usage: 3.2+ MB

In [30]:
# Get the airline_delay_cause_df columns
airlines_delay_cause_df.columns

Index(['year', 'month', 'carrier', 'carrier_name', 'airport', 'airport_name',
       'arr_flights', 'arr_del15', 'carrier_ct', 'weather_ct', 'nas_ct',
       'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted',
       'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay'],
      dtype='object')

In [31]:
# get the unique carrie name and airport name 
carrier_name = airlines_delay_cause_df['carrier_name'].unique()
airports = airlines_delay_cause_df['airport_name'].unique()
carrier_name

array(['Endeavor Air Inc.', 'American Airlines Inc.',
       'Alaska Airlines Inc.', 'JetBlue Airways', 'Delta Air Lines Inc.',
       'Frontier Airlines Inc.', 'Allegiant Air',
       'Hawaiian Airlines Inc.', 'Envoy Air', 'Spirit Air Lines',
       'PSA Airlines Inc.', 'SkyWest Airlines Inc.',
       'United Air Lines Inc.', 'Southwest Airlines Co.',
       'Republic Airline', 'Horizon Air', 'Mesa Airlines Inc.'],
      dtype=object)

In [32]:
# get the lenght of carrier_name 
print(len(carrier_name))

17

In [33]:
# GET THE LENGHT OF AIRPOTS
print (len(airports))

390

In [34]:
#Rename the columns
airlines_delay_cause_df= airlines_delay_cause_df.rename(columns={'arr_flights': 'total_arriving_flights',\
                                                                 'airport': 'Airport Code',\
                                                                 'carrier_ct':'air_carrier_delay',\
                                                                 'weather_ct': 'wheather_delay', \
                                                                 'nas_ct':'nat_aviation_delay',\
                                                                 'carrier_delay':'carrier_ttl_delay',\
                                                                 'arr_cancelled': 'Cancelled_flights',\
                                                                 'weather_delay': 'weather_ttl_delay',\
                                                                 'nas_delay':'National_aviation_ttl_delay',\
                                                                 'security_delay':'security_ttl_delay',
                                                                 'late_aircraft_delay':"late_aircraft_ttl_delay"
                                                                })

airlines_delay_cause_df.head()

,year,month,carrier,carrier_name,Airport Code,airport_name,total_arriving_flights,arr_del15,air_carrier_delay,wheather_delay,...,security_ct,late_aircraft_ct,Cancelled_flights,arr_diverted,arr_delay,carrier_ttl_delay,weather_ttl_delay,National_aviation_ttl_delay,security_ttl_delay,late_aircraft_ttl_delay
0,2023,4,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",85.0,7.0,3.00,0.00,...,0.0,0.92,0.0,2.0,428.0,250.0,0.0,87.0,0.0,91.0
1,2023,4,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",46.0,5.0,3.63,0.61,...,0.0,0.00,0.0,1.0,272.0,153.0,67.0,52.0,0.0,0.0
2,2023,4,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",61.0,5.0,0.68,0.07,...,0.0,0.93,0.0,1.0,204.0,36.0,2.0,141.0,0.0,25.0
3,2023,4,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",211.0,29.0,9.86,1.00,...,0.0,13.93,1.0,0.0,1346.0,384.0,39.0,115.0,0.0,808.0
4,2023,4,9E,Endeavor Air Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta International",1390.0,140.0,41.20,5.11,...,0.0,64.59,0.0,2.0,12486.0,4655.0,403.0,1190.0,0.0,6238.0

In [35]:
#grouping by carrier_name 
total_flights_arrived_df = airlines_delay_cause_df.\
groupby(['carrier_name'])[['total_arriving_flights','air_carrier_delay','wheather_delay','nat_aviation_delay']].sum()
total_flights_arrived_df

,total_arriving_flights,air_carrier_delay,wheather_delay,nat_aviation_delay
carrier_name,,,,
Alaska Airlines Inc.,234994.0,12897.35,1275.28,18597.97
Allegiant Air,115868.0,8654.31,1916.74,10402.52
American Airlines Inc.,903469.0,67375.90,8356.58,54640.26
Delta Air Lines Inc.,920359.0,64330.66,4904.12,41477.77
Endeavor Air Inc.,213886.0,9646.75,1349.01,12468.81
Envoy Air,234358.0,10546.33,3400.27,14282.90
Frontier Airlines Inc.,161250.0,16054.52,808.05,15194.72
Hawaiian Airlines Inc.,77161.0,11107.75,483.21,1322.24
Horizon Air,58041.0,3034.36,362.97,2484.33
JetBlue Airways,279570.0,33760.14,1502.61,23146.55
Mesa Airlines Inc.,73313.0,5467.76,1029.55,3132.60
PSA Airlines Inc.,198307.0,8863.11,1930.73,10162.39
Republic Airline,307772.0,12828.11,1813.35,22175.04
SkyWest Airlines Inc.,705400.0,74065.00,13365.00,4089.00
Southwest Airlines Co.,1359925.0,108372.51,3733.27,53949.96
Spirit Air Lines,247660.0,18144.23,1929.87,27215.06
United Air Lines Inc.,666171.0,44627.06,3632.10,41614.68

In [36]:
#drop off some carrier_names and leave only the top 11 airlines in the USA 
cleaned_top_flights_df = total_flights_arrived_df.drop(['Allegiant Air','Endeavor Air Inc.','Horizon Air','Mesa Airlines Inc.','PSA Airlines Inc.','Republic Airline'])
cleaned_top_flights_df

,total_arriving_flights,air_carrier_delay,wheather_delay,nat_aviation_delay
carrier_name,,,,
Alaska Airlines Inc.,234994.0,12897.35,1275.28,18597.97
American Airlines Inc.,903469.0,67375.90,8356.58,54640.26
Delta Air Lines Inc.,920359.0,64330.66,4904.12,41477.77
Envoy Air,234358.0,10546.33,3400.27,14282.90
Frontier Airlines Inc.,161250.0,16054.52,808.05,15194.72
Hawaiian Airlines Inc.,77161.0,11107.75,483.21,1322.24
JetBlue Airways,279570.0,33760.14,1502.61,23146.55
SkyWest Airlines Inc.,705400.0,74065.00,13365.00,4089.00
Southwest Airlines Co.,1359925.0,108372.51,3733.27,53949.96
Spirit Air Lines,247660.0,18144.23,1929.87,27215.06
United Air Lines Inc.,666171.0,44627.06,3632.10,41614.68

In [37]:
#Exporting the dataframe as a csv file 
cleaned_top_flights_df.to_csv("cleaned_top_flights.csv")

In [38]:
#grouping by month and carrier name 
delayed_ttl_duration = airlines_delay_cause_df.groupby(['month', 'carrier_name'])[['carrier_ttl_delay', 'weather_ttl_delay', 'National_aviation_ttl_delay','security_ttl_delay','late_aircraft_ttl_delay']].sum()
delayed_ttl_duration.head(10)

                              carrier_ttl_delay  weather_ttl_delay  \
month carrier_name
1     Alaska Airlines Inc.              58276.0             7574.0
      Allegiant Air                     55866.0            27096.0
      American Airlines Inc.           445582.0            56400.0
      Delta Air Lines Inc.             501463.0            85190.0
      Endeavor Air Inc.                 79795.0            29651.0
      Envoy Air                         52089.0            25059.0
      Frontier Airlines Inc.           115285.0            11442.0
      Hawaiian Airlines Inc.            44384.0             2578.0
      JetBlue Airways                  191090.0             3496.0
      PSA Airlines Inc.                 41330.0            12501.0

                              National_aviation_ttl_delay  security_ttl_delay  \
month carrier_name
1     Alaska Airlines Inc.                        64573.0               749.0
      Allegiant Air                               46456.0               211.0
      American Airlines Inc.                     291922.0              3567.0
      Delta Air Lines Inc.                       203900.0               688.0
      Endeavor Air Inc.                           64925.0                84.0
      Envoy Air                                   80352.0               318.0
      Frontier Airlines Inc.                      73861.0                 0.0
      Hawaiian Airlines Inc.                       2310.0                62.0
      JetBlue Airways                             97010.0              2002.0
      PSA Airlines Inc.                           38200.0               218.0

                              late_aircraft_ttl_delay
month carrier_name
1     Alaska Airlines Inc.                    79880.0
      Allegiant Air                           65654.0
      American Airlines Inc.                 512505.0
      Delta Air Lines Inc.                   312789.0
      Endeavor Air Inc.                       99638.0
      Envoy Air                               87216.0
      Frontier Airlines Inc.                 146082.0
      Hawaiian Airlines Inc.                  23636.0
      JetBlue Airways                        168151.0
      PSA Airlines Inc.                       67079.0

In [39]:
#dropoing all the rows that contain certain carrier_name and leave only the top 11 carrier_name
unwanted_carrier_names = ['Allegiant Air','Endeavor Air Inc.','Horizon Air','Mesa Airlines Inc.','PSA Airlines Inc.','Republic Airline']
delayed_ttl_df = delayed_ttl_duration[~delayed_ttl_duration.index.get_level_values('carrier_name').isin(unwanted_carrier_names)]
delayed_ttl_df

                              carrier_ttl_delay  weather_ttl_delay  \
month carrier_name
1     Alaska Airlines Inc.              58276.0             7574.0
      American Airlines Inc.           445582.0            56400.0
      Delta Air Lines Inc.             501463.0            85190.0
      Envoy Air                         52089.0            25059.0
      Frontier Airlines Inc.           115285.0            11442.0
...                                         ...                ...
12    JetBlue Airways                  308694.0             7069.0
      SkyWest Airlines Inc.            506427.0           228176.0
      Southwest Airlines Co.           693474.0            27613.0
      Spirit Air Lines                 156110.0            16009.0
      United Air Lines Inc.            435405.0            48328.0

                              National_aviation_ttl_delay  security_ttl_delay  \
month carrier_name
1     Alaska Airlines Inc.                        64573.0               749.0
      American Airlines Inc.                     291922.0              3567.0
      Delta Air Lines Inc.                       203900.0               688.0
      Envoy Air                                   80352.0               318.0
      Frontier Airlines Inc.                      73861.0                 0.0
...                                                   ...                 ...
12    JetBlue Airways                            108913.0              1344.0
      SkyWest Airlines Inc.                       30896.0              1406.0
      Southwest Airlines Co.                     216511.0              4143.0
      Spirit Air Lines                           133105.0              2514.0
      United Air Lines Inc.                      190033.0                79.0

                              late_aircraft_ttl_delay
month carrier_name
1     Alaska Airlines Inc.                    79880.0
      American Airlines Inc.                 512505.0
      Delta Air Lines Inc.                   312789.0
      Envoy Air                               87216.0
      Frontier Airlines Inc.                 146082.0
...                                               ...
12    JetBlue Airways                        270069.0
      SkyWest Airlines Inc.                  225633.0
      Southwest Airlines Co.                 877828.0
      Spirit Air Lines                       132896.0
      United Air Lines Inc.                  550833.0

[132 rows x 5 columns]

In [17]:
# Exporting the dataframe as a csv file
delayed_ttl_df.to_csv('total_time_delay.csv')

In [40]:
# creating a state column and a airport_name from the airport_name column 
airlines_delay_cause_df[['states', 'Airport_name']] = airlines_delay_cause_df['airport_name'].str.split(":", expand = True)
airlines_delay_cause_df.tail()

,year,month,carrier,carrier_name,Airport Code,airport_name,total_arriving_flights,arr_del15,air_carrier_delay,wheather_delay,...,Cancelled_flights,arr_diverted,arr_delay,carrier_ttl_delay,weather_ttl_delay,National_aviation_ttl_delay,security_ttl_delay,late_aircraft_ttl_delay,states,Airport_name
19703,2022,5,YX,Republic Airline,SYR,"Syracuse, NY: Syracuse Hancock International",183.0,52.0,17.94,0.37,...,7.0,0.0,3229.0,1433.0,8.0,344.0,0.0,1444.0,"Syracuse, NY",Syracuse Hancock International
19704,2022,5,YX,Republic Airline,TLH,"Tallahassee, FL: Tallahassee International",8.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Tallahassee, FL",Tallahassee International
19705,2022,5,YX,Republic Airline,TUL,"Tulsa, OK: Tulsa International",12.0,6.0,0.09,1.00,...,0.0,1.0,436.0,11.0,25.0,111.0,0.0,289.0,"Tulsa, OK",Tulsa International
19706,2022,5,YX,Republic Airline,VPS,"Valparaiso, FL: Eglin AFB Destin Fort Walton Beach",28.0,5.0,0.00,0.00,...,2.0,1.0,165.0,0.0,0.0,81.0,0.0,84.0,"Valparaiso, FL",Eglin AFB Destin Fort Walton Beach
19707,2022,5,YX,Republic Airline,XNA,"Fayetteville, AR: Northwest Arkansas Regional",61.0,22.0,3.59,0.00,...,1.0,1.0,1681.0,216.0,0.0,246.0,0.0,1219.0,"Fayetteville, AR",Northwest Arkansas Regional

In [41]:
# read the data into a pandas dataframe
airport_code_df = pd.read_excel('airports-code@public.xlsx')
airport_code_df.tail()

,Airport Code,Airport Name,City Name,Country Name,Country Code,Latitude,Longitude,World Area Code,City Name geo_name_id,Country Name geo_name_id,coordinates
2232,NOT,Novato,Novato,United States,US,38.100000,-122.566667,67,5378044,6252001,"38.1, -122.566667"
2233,HNS,Municipal,Haines,United States,US,59.250000,-135.516667,67,5846901,6252001,"59.25, -135.516667"
2234,AQY,Alyeska,Alyeska,United States,US,60.966667,-149.116667,67,\N,6252001,"60.966667, -149.116667"
2235,ABE,Lehigh Valley International,Allentown,United States,US,40.652222,-75.440278,67,5178127,6252001,"40.652222, -75.440278"
2236,HSL,Huslia,Huslia,United States,US,65.700000,-156.416667,67,\N,6252001,"65.7, -156.416667"

In [42]:
# print the number of aeroport in the dataframe
print(len(airport_code_df['Airport Code'].unique()))

2237

In [43]:
# Get the columns 'Airport Code','Airport Name','City Name','Latitude','Longitude'
airport_lat_long = airport_code_df[['Airport Code','Airport Name','City Name','Latitude','Longitude']]
airport_lat_long.tail()

,Airport Code,Airport Name,City Name,Latitude,Longitude
2232,NOT,Novato,Novato,38.100000,-122.566667
2233,HNS,Municipal,Haines,59.250000,-135.516667
2234,AQY,Alyeska,Alyeska,60.966667,-149.116667
2235,ABE,Lehigh Valley International,Allentown,40.652222,-75.440278
2236,HSL,Huslia,Huslia,65.700000,-156.416667

In [44]:
#making a copy of the airlines_delay_cause_df
airlines_canceled_df = airlines_delay_cause_df.copy()
airlines_canceled_df.head()

,year,month,carrier,carrier_name,Airport Code,airport_name,total_arriving_flights,arr_del15,air_carrier_delay,wheather_delay,...,Cancelled_flights,arr_diverted,arr_delay,carrier_ttl_delay,weather_ttl_delay,National_aviation_ttl_delay,security_ttl_delay,late_aircraft_ttl_delay,states,Airport_name
0,2023,4,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",85.0,7.0,3.00,0.00,...,0.0,2.0,428.0,250.0,0.0,87.0,0.0,91.0,"Albany, GA",Southwest Georgia Regional
1,2023,4,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",46.0,5.0,3.63,0.61,...,0.0,1.0,272.0,153.0,67.0,52.0,0.0,0.0,"Alexandria, LA",Alexandria International
2,2023,4,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",61.0,5.0,0.68,0.07,...,0.0,1.0,204.0,36.0,2.0,141.0,0.0,25.0,"Augusta, GA",Augusta Regional at Bush Field
3,2023,4,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",211.0,29.0,9.86,1.00,...,1.0,0.0,1346.0,384.0,39.0,115.0,0.0,808.0,"Albany, NY",Albany International
4,2023,4,9E,Endeavor Air Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta International",1390.0,140.0,41.20,5.11,...,0.0,2.0,12486.0,4655.0,403.0,1190.0,0.0,6238.0,"Atlanta, GA",Hartsfield-Jackson Atlanta International

In [45]:
# dropping the "airport_name" column 
airlines_canceled_df.drop('airport_name',axis=1, inplace=True)
airlines_canceled_df.head()

,year,month,carrier,carrier_name,Airport Code,total_arriving_flights,arr_del15,air_carrier_delay,wheather_delay,nat_aviation_delay,...,Cancelled_flights,arr_diverted,arr_delay,carrier_ttl_delay,weather_ttl_delay,National_aviation_ttl_delay,security_ttl_delay,late_aircraft_ttl_delay,states,Airport_name
0,2023,4,9E,Endeavor Air Inc.,ABY,85.0,7.0,3.00,0.00,3.08,...,0.0,2.0,428.0,250.0,0.0,87.0,0.0,91.0,"Albany, GA",Southwest Georgia Regional
1,2023,4,9E,Endeavor Air Inc.,AEX,46.0,5.0,3.63,0.61,0.76,...,0.0,1.0,272.0,153.0,67.0,52.0,0.0,0.0,"Alexandria, LA",Alexandria International
2,2023,4,9E,Endeavor Air Inc.,AGS,61.0,5.0,0.68,0.07,3.32,...,0.0,1.0,204.0,36.0,2.0,141.0,0.0,25.0,"Augusta, GA",Augusta Regional at Bush Field
3,2023,4,9E,Endeavor Air Inc.,ALB,211.0,29.0,9.86,1.00,4.21,...,1.0,0.0,1346.0,384.0,39.0,115.0,0.0,808.0,"Albany, NY",Albany International
4,2023,4,9E,Endeavor Air Inc.,ATL,1390.0,140.0,41.20,5.11,29.09,...,0.0,2.0,12486.0,4655.0,403.0,1190.0,0.0,6238.0,"Atlanta, GA",Hartsfield-Jackson Atlanta International

In [46]:
# Get the colomns 'month', 'carrier_name','Airport Code','Cancelled_flights','states', 'Airport_name'
airlines_canceled_final_df = airlines_canceled_df[['month','total_arriving_flights', 'carrier_name','Airport Code','Cancelled_flights','states', 'Airport_name']]
airlines_canceled_final_df.tail()

,month,total_arriving_flights,carrier_name,Airport Code,Cancelled_flights,states,Airport_name
19703,5,183.0,Republic Airline,SYR,7.0,"Syracuse, NY",Syracuse Hancock International
19704,5,8.0,Republic Airline,TLH,0.0,"Tallahassee, FL",Tallahassee International
19705,5,12.0,Republic Airline,TUL,0.0,"Tulsa, OK",Tulsa International
19706,5,28.0,Republic Airline,VPS,2.0,"Valparaiso, FL",Eglin AFB Destin Fort Walton Beach
19707,5,61.0,Republic Airline,XNA,1.0,"Fayetteville, AR",Northwest Arkansas Regional

In [47]:
# Merge the airlines_canceled_final_df with airport_lat_long on "Airport Code"
airports_airlines_df = airlines_canceled_final_df.merge(airport_lat_long, on = 'Airport Code', how= 'left' )
airports_airlines_df.tail()

,month,total_arriving_flights,carrier_name,Airport Code,Cancelled_flights,states,Airport_name,Airport Name,City Name,Latitude,Longitude
19703,5,183.0,Republic Airline,SYR,7.0,"Syracuse, NY",Syracuse Hancock International,Syracuse Hancock International Airport,Syracuse,43.116667,-76.116667
19704,5,8.0,Republic Airline,TLH,0.0,"Tallahassee, FL",Tallahassee International,Tallahassee Regional Airport,Tallahassee,30.396389,-84.350278
19705,5,12.0,Republic Airline,TUL,0.0,"Tulsa, OK",Tulsa International,Tulsa International,Tulsa,36.198333,-95.888056
19706,5,28.0,Republic Airline,VPS,2.0,"Valparaiso, FL",Eglin AFB Destin Fort Walton Beach,Eglin AFB,"Valparaiso, FL",30.483333,-86.525278
19707,5,61.0,Republic Airline,XNA,1.0,"Fayetteville, AR",Northwest Arkansas Regional,Northwest Arkansas Regional,"Fayetteville, AR",36.281667,-94.306667

In [48]:
# Droping the "Airport Name" and "Ciry Name"
airports_airlines_df.drop(columns=['Airport Name','City Name'], inplace=True)

In [49]:
airports_airlines_df.tail()

,month,total_arriving_flights,carrier_name,Airport Code,Cancelled_flights,states,Airport_name,Latitude,Longitude
19703,5,183.0,Republic Airline,SYR,7.0,"Syracuse, NY",Syracuse Hancock International,43.116667,-76.116667
19704,5,8.0,Republic Airline,TLH,0.0,"Tallahassee, FL",Tallahassee International,30.396389,-84.350278
19705,5,12.0,Republic Airline,TUL,0.0,"Tulsa, OK",Tulsa International,36.198333,-95.888056
19706,5,28.0,Republic Airline,VPS,2.0,"Valparaiso, FL",Eglin AFB Destin Fort Walton Beach,30.483333,-86.525278
19707,5,61.0,Republic Airline,XNA,1.0,"Fayetteville, AR",Northwest Arkansas Regional,36.281667,-94.306667

In [50]:
# Checking for Na values 
airports_airlines_df.isna().sum()

month                       0
total_arriving_flights      9
carrier_name                0
Airport Code                0
Cancelled_flights           9
states                      0
Airport_name                0
Latitude                  457
Longitude                 457
dtype: int64

In [51]:
# Droping all the Na values 
airports_airlines_df.dropna(inplace=True)

In [52]:
#Rename the Airport code to Airport_Code
airports_airlines_df.rename(columns={'Airport Code': 'Airport_Code'}, inplace=True)

In [53]:
airports_airlines_df.head()

,month,total_arriving_flights,carrier_name,Airport_Code,Cancelled_flights,states,Airport_name,Latitude,Longitude
0,4,85.0,Endeavor Air Inc.,ABY,0.0,"Albany, GA",Southwest Georgia Regional,31.533333,-84.200000
1,4,46.0,Endeavor Air Inc.,AEX,0.0,"Alexandria, LA",Alexandria International,31.327500,-92.548611
2,4,61.0,Endeavor Air Inc.,AGS,0.0,"Augusta, GA",Augusta Regional at Bush Field,33.366667,-81.966667
3,4,211.0,Endeavor Air Inc.,ALB,1.0,"Albany, NY",Albany International,42.733333,-73.800000
4,4,1390.0,Endeavor Air Inc.,ATL,0.0,"Atlanta, GA",Hartsfield-Jackson Atlanta International,33.636667,-84.428056

In [54]:
# deleting unwanted carrier names to leave only the top 11 carrier name
unwanted_carrier_names = ['Allegiant Air','Endeavor Air Inc.','Horizon Air','Mesa Airlines Inc.','PSA Airlines Inc.','Republic Airline']
airports_airlines_df = airports_airlines_df[~airports_airlines_df['carrier_name'].isin(unwanted_carrier_names)]
airports_airlines_df.head()

,month,total_arriving_flights,carrier_name,Airport_Code,Cancelled_flights,states,Airport_name,Latitude,Longitude
91,4,310.0,American Airlines Inc.,ABQ,5.0,"Albuquerque, NM",Albuquerque International Sunport,35.040278,-106.609167
92,4,17.0,American Airlines Inc.,AGS,0.0,"Augusta, GA",Augusta Regional at Bush Field,33.366667,-81.966667
93,4,56.0,American Airlines Inc.,ALB,0.0,"Albany, NY",Albany International,42.733333,-73.800000
94,4,86.0,American Airlines Inc.,AMA,7.0,"Amarillo, TX",Rick Husband Amarillo International,35.226389,-101.705833
95,4,711.0,American Airlines Inc.,ATL,11.0,"Atlanta, GA",Hartsfield-Jackson Atlanta International,33.636667,-84.428056

In [55]:
# Check for the unique values in carrier_name
airports_airlines_df['carrier_name'].unique()

array(['American Airlines Inc.', 'Alaska Airlines Inc.',
       'JetBlue Airways', 'Delta Air Lines Inc.',
       'Frontier Airlines Inc.', 'Hawaiian Airlines Inc.', 'Envoy Air',
       'Spirit Air Lines', 'SkyWest Airlines Inc.',
       'United Air Lines Inc.', 'Southwest Airlines Co.'], dtype=object)

In [56]:
# Grouping by Airport_name and summing the canceled_flights column
cleaned_airport_airlines_df = airports_airlines_df.groupby(['Airport_name']).agg({  'Airport_Code':'first',\
                                                                                   'Latitude': 'first',\
                                                                                   'Longitude': 'first',\
                                                                                   'total_arriving_flights': 'sum',\
                                                                                   'Cancelled_flights': 'sum'
                                                                               
                                                                              })
cleaned_airport_airlines_df

,Airport_Code,Latitude,Longitude,total_arriving_flights,Cancelled_flights
Airport_name,,,,,
Aberdeen Regional,ABR,45.450000,-98.433333,711.0,23.0
Abilene Regional,ABI,32.416667,-99.683333,1664.0,26.0
Abraham Lincoln Capital,SPI,39.850000,-89.683333,801.0,13.0
Adak,ADK,51.878056,-176.646111,104.0,4.0
Akron-Canton Regional,CAK,40.916111,-81.442222,384.0,7.0
...,...,...,...,...,...
Yampa Valley,HDN,40.519444,-106.869444,2373.0,70.0
Yeager,CRW,38.366667,-81.600000,164.0,1.0
Yellowstone,WYS,44.683333,-111.116667,284.0,1.0
Yellowstone Regional,COD,44.516667,-109.033333,359.0,7.0
Yuma MCAS/Yuma International,YUM,32.650000,-114.600000,1437.0,7.0

In [73]:
cleaned_airport_airlines_df['Cancelled_percentage'] = (100*(cleaned_airport_airlines_df['Cancelled_flights'] / cleaned_airport_airlines_df['total_arriving_flights'])).round(2)
cleaned_airport_airlines_df.head()

,Airport_Code,Latitude,Longitude,total_arriving_flights,Cancelled_flights,Cancelled_percentage
Airport_name,,,,,,
Aberdeen Regional,ABR,45.450000,-98.433333,711.0,23.0,3.23
Abilene Regional,ABI,32.416667,-99.683333,1664.0,26.0,1.56
Abraham Lincoln Capital,SPI,39.850000,-89.683333,801.0,13.0,1.62
Adak,ADK,51.878056,-176.646111,104.0,4.0,3.85
Akron-Canton Regional,CAK,40.916111,-81.442222,384.0,7.0,1.82

In [74]:
# Exporting the "airport_airlines_df" into a csv file 
cleaned_airport_airlines_df.to_csv("lat_long_airport_airlines.csv")